/*
+++++++++++++++++++++++++++++++++++++++
+
+ Schriftarten
+
+++++++++++++++++++++++++++++++++++++++
*/

@font-face {
    font-family: 'base';
    src: url('../fonts/atrotisserif_regular-webfont.eot');
    src: url('../fonts/atrotisserif_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/atrotisserif_regular-webfont.woff2') format('woff2'),
         url('../fonts/atrotisserif_regular-webfont.woff') format('woff'),
         url('../fonts/atrotisserif_regular-webfont.ttf') format('truetype'),
         url('../fonts/atrotisserif_regular-webfont.svg#atrotisserifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
+++++++++++++++++++++++++++++++++++++++
+
+ Farben
+
+++++++++++++++++++++++++++++++++++++++
*/

@c-body: rgb(255,241,220);
@c-jumbotron: rgb(130,183,138);
@c-jumbotron-orange: rgb(249,189,118);
@c-orange-light: rgb(241,149,48);
@c-orange-dark:rgb(218,109,50);
@c-green:rgb(14,121,55);

@boldwith: 9px;

/*
+++++++++++++++++++++++++++++++++++++++
+
+ Body
+
+++++++++++++++++++++++++++++++++++++++
*/

body {
	background-color: @c-body;
	font-family: 'base';
	font-size:16px;
}

.container {
	max-width:970px;

}

/*
+++++++++++++++++++++++++++++++++++++++
+
+ Navigation
+
+++++++++++++++++++++++++++++++++++++++
*/

.navbar {

	font-size:1em;
	margin-bottom: 30px;

	&.navbar-default {
		background-color: @c-body;
		border: none;
		color: rgb(0,0,0);
		}


	& .navbar-nav {
    	display: inline-block;
		float: none;

		&>.active>a {
			color: @c-orange-dark;
			background: none;

			&:focus, &:hover {
				color: @c-orange-dark;
			background: none;

			}
		}
	}

	& .navbar-collapse {
    	text-align: center;
	}

	& .navbar-nav>li>a {
		padding: 10px;
		color: rgb(0,0,0);
		text-transform: uppercase;

		&:focus, &:hover {
		background-color: @c-body !important;
		color: @c-orange-dark;
		}
	}
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: @c-body;
	color: @c-orange-dark;
}

.dropdown {
	position: inherit;
}

.nav>li {
	position: inherit;
}

.dropdown-menu {
	margin-right:-1000px;
    background-color: @c-body;
    font-size: 1em;
    border:none;
    border-radius: 0;
    box-shadow: none;
    padding:0;
    top:80%;
    left:8%;

    &>.active>a {
		color: @c-orange-dark;
		background-color: @c-body;

		&:hover, &:focus {
			color: @c-orange-dark;
			background-color: @c-body;

		}

    }


    &>li{
	display: inline-block;

	}

    & li>a {
	color: rgb(0,0,0);
	text-transform: uppercase;
	padding: 3px 10px;
	white-space: normal;
	text-decoration: none;

		&:hover {
			color:@c-orange-dark;
			background: none;
		}

	}
}





.nav .open>a {

	background-color: @c-body;

	&:hover, &:focus {

	background-color: inherit;
	}
}



.divider-vertical {
		height: 20px;
		margin: 10px 5px;
		border-left: 2px solid rgb(0,0,0);


		&.sub {
			margin:-5px 0;
		}
	}

.list-inline>li {
	padding:0;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

/*
+++++++++++++++++++++++++++++++++++++++
+
+ Jumbotron
+
+++++++++++++++++++++++++++++++++++++++
*/

.jumbotron {
	background-color: @c-jumbotron;
	padding:0;
	text-align: center;

	& img {
		max-width:940px;
		max-height: 450px;
	}
}

/*
+++++++++++++++++++++++++++++++++++++++
+
+ Headlines
+
+++++++++++++++++++++++++++++++++++++++
*/

h1 {
	color:@c-orange-dark;
	text-transform: uppercase;
	font-size:2em;

}

/*
+++++++++++++++++++++++++++++++++++++++
+
+ Fließtext
+
+++++++++++++++++++++++++++++++++++++++
*/

.copy {
	margin: 15px 0;
	line-height: 175%;
	font-size: 1em;
}


/*
+++++++++++++++++++++++++++++++++++++++
+
+ Accordion
+
+++++++++++++++++++++++++++++++++++++++
*/


.panel-default {
	border:none;
	&>.panel-heading {
		color:inherit;
		background-color: @c-body;
		border:none;
	}
}

.panel-heading {
	padding: 10px 0;
}

.panel-title a {
	font-size:1.2em;

	&:not(.collapsed) {
		color: @c-green;
	}
}
.panel-title>a:hover {
	text-decoration: none;
	color: @c-green;
}

.panel-title a.collapsed:after {
	//font-family: 'Glyphicons Halflings';
	//content: "\e250";
	font-family: "FontAwesome";
	content: "\f0da";
	color: @c-orange-dark;
}

.panel-title a:after {
	//(font-family: 'Glyphicons Halflings';
    //content: "\e252";
    font-family: "FontAwesome";
    content: "\f0d7";
    float: left;
    color: @c-orange-dark;
    margin-right:5px;
}

.panel-body {
	padding:10px 0;
	border:0;
	background-color: @c-body;
	font-size: 1.2em;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border:none;
}


/*
+++++++++++++++++++++++++++++++++++++++
+
+ Tabellen
+
+++++++++++++++++++++++++++++++++++++++
*/

table {
	font-size:1em;
	width:100%;

	& td {
		padding:10px 0;

		&.pricetag {
			text-align: right;
		}
	}
}

/*
+++++++++++++++++++++++++++++++++++++++
+
+ Bilder
+
+++++++++++++++++++++++++++++++++++++++
*/

.imgrow {
	padding: 15px 0 30px 0;
}

.thumbnail {
	border: @boldwith solid rgb(255,255,255);
	border-radius: 0;
	padding: 0;

}

/*
+++++++++++++++++++++++++++++++++++++++
+
+ Linien
+
+++++++++++++++++++++++++++++++++++++++
*/

.line {

	background-color: @c-orange-light;

	&.light {
		height: 1px;

		&.topspace {
			margin-top:@boldwith;
		}

		&.btmspace {
			margin-bottom:@boldwith;
		}
	}

	&.bold {
		height: @boldwith;
	}
}

/*
+++++++++++++++++++++++++++++++++++++++
+
+ Forms
+
+++++++++++++++++++++++++++++++++++++++
*/

label {
	font-weight: 500;
}

.form-control:focus {
	border-color: @c-green;
	box-shadow: none;
}

.btn-default:hover {
	background-color: @c-green;
	color:#fff;
}

/*
+++++++++++++++++++++++++++++++++++++++
+
+ misc
+
+++++++++++++++++++++++++++++++++++++++
*/

.hspace {
	width:3em;
	display: inline-block;
}

.space {
	padding:5px 0;
}



